.profile {
  display: flex;
  height: 400px;
  width: 100%;
  margin: 20px;
  max-width: 400px;
  align-items: center;
  background-image: rgb(4, 229, 250);
  background-color: #d18b00;
  flex-direction: column;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}

@media only screen and (max-width: 900px) {
  .profile {
    max-width: 100%;
    position: relative;
    margin: 0;
  }
}